#container{

  width: 960;
  margin 0 auto;

}


header h1{ 
 width:960px; 
 font-size:24px;
}


.instructions{

width: 650px;
background-color:green;
padding:10px;
margin-bottom: 15px;

}


#noMatch{

background-color:pink;
width:440px;
height: 100px;
float:left;
margin-bottom: 15px;
}


.winsLosses{
background-color: orange;
width:440px;
height: 100px;
float:left;
position: relative;
clear: both;
margin-bottom: 15px;
}

#wins{

}

#losses{

}


#jewelContainer{
width:440px;
float:left;
margin-left: 20px;

}



#jewelOne{

float:left;
margin-right:5px;
clear:both;


}

#jewelTwo{


float:left;
}


#jewelThree{

float:left;
margin-right:5px;
clear:both;
margin-bottom: 15px;
}



#jewelFour{

float:left;
margin-bottom: 15px;
}

.yourScore{
  background-color:yellow;
  float:left;
  width: 440px;
  height:20px;
  margin-bottom:5px;
  position:relative;
  clear: both;
}

#totalSc{
background-color:yellow;
width: 440px;
height: 100px;
float:left;
position:relative;
clear: both;

}


